In [3]:
import pandas as pd
df = pd.read_csv("C:\\Users\\bagchi\\Favorites\\Downloads\\archive\\car data.csv")

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
df["Transmission"].value_counts()          #counts no of categories in column

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [6]:
df["Owner"].value_counts()          #counts no of categories in column

0    290
1     10
3      1
Name: Owner, dtype: int64

In [7]:
df1 = pd.get_dummies(df["Fuel_Type"])
df2 = pd.get_dummies(df["Seller_Type"])
df3 = pd.get_dummies(df["Transmission"])

In [8]:
df_final = pd.concat([df, df1, df2, df3], axis=1)

In [9]:
df_final.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,CNG,Diesel,Petrol,Dealer,Individual,Automatic,Manual
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,0,1,1,0,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,0,1,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,0,0,1,1,0,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,0,0,1,1,0,0,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,0,1,0,1,0,0,1

In [10]:
df_final.drop(["Fuel_Type", "Seller_Type", "Transmission", "Car_Name", "Year"], axis=1, inplace=True)

In [11]:
df_final.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,CNG,Diesel,Petrol,Dealer,Individual,Automatic,Manual
0,3.35,5.59,27000,0,0,0,1,1,0,0,1
1,4.75,9.54,43000,0,0,1,0,1,0,0,1
2,7.25,9.85,6900,0,0,0,1,1,0,0,1
3,2.85,4.15,5200,0,0,0,1,1,0,0,1
4,4.60,6.87,42450,0,0,1,0,1,0,0,1

In [12]:
df_final.isnull().sum()

Selling_Price    0
Present_Price    0
Kms_Driven       0
Owner            0
CNG              0
Diesel           0
Petrol           0
Dealer           0
Individual       0
Automatic        0
Manual           0
dtype: int64

In [13]:
y=df_final["Selling_Price"]

In [14]:
X=df_final

In [15]:
X.drop(["Selling_Price"], axis=1, inplace=True)

# splitting dataset and applying different models

In [16]:
from sklearn import model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.20,random_state=5)

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
mean_squared_error(y_pred_dt, y_test)

4.189919672131147

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
mean_squared_error(y_pred_rf, y_test)

2.0435986846277343

In [19]:
rf.score(X_train, y_train)

0.9836039318390116

In [20]:
rf.score(X_test, y_test)

0.9238621612759983

In [21]:
predictions=rf.predict(X_test)

In [22]:
from sklearn import metrics
import numpy as np
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 0.8841709016393446
MSE: 2.0435986846277343
RMSE: 1.429544922213966

In [23]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error
ab = AdaBoostRegressor()
ab.fit(X_train, y_train)
y_pred_ab = ab.predict(X_test)
mean_squared_error(y_pred_ab, y_test)

2.044128882670856

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)
mean_squared_error(y_pred_lr, y_test)

8.222179789848866

In [25]:
random_grid = {'n_estimators': [int(x) for x in range(100, 1000, 10)],
               'max_features': ['auto', 'sqrt'],
               'max_depth': [int(x) for x in range(5, 50, 5)],
               'min_samples_split': [2, 5, 10, 15, 30, 50, 75, 100],
               'min_samples_leaf': [1, 2, 5, 8, 10]}
print(random_grid)

{'n_estimators': [100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30, 35, 40, 45], 'min_samples_split': [2, 5, 10, 15, 30, 50, 75, 100], 'min_samples_leaf': [1, 2, 5, 8, 10]}

In [26]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator=rf,
                               param_distributions=random_grid,
                               scoring='neg_mean_squared_error',
                               n_iter=10, cv=10,
                               verbose=2, random_state=888, n_jobs=-1)
rf_random.fit(X_train, y_train)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   26.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   55.7s finished

RandomizedSearchCV(cv=10, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fal...
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 8, 10],
                                        'min_samples_split': [2, 5, 10, 15, 30,
                                                              50, 75, 100],
                                        'n_estimators': [100, 110, 120, 130,
                                                         140, 150, 160, 170,
                                                         180, 190, 200, 210,
                                                         220, 230, 240, 250,
                                                         260, 270, 280, 290,
                                                         300, 310, 320, 330,
                                                         340, 350, 360, 370,
                                                         380, 390, ...]},
                   pre_dispatch='2*n_jobs', random_state=888, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=2)

In [27]:
rf_random.best_params_

{'n_estimators': 610,
 'min_samples_split': 10,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 25}

In [28]:
rf_random.best_score_

-4.699702819501623

In [29]:
rf_rcv = RandomForestRegressor(n_estimators= 270,
                                min_samples_split= 15,
                                min_samples_leaf= 2,
                                max_features= 'auto',
                                 max_depth= 45)

In [30]:
rf_rcv.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=45, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=15, min_weight_fraction_leaf=0.0,
                      n_estimators=270, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [31]:
predictions_new = rf_rcv.predict(X_test)

In [32]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions_new))
print('MSE:', metrics.mean_squared_error(y_test, predictions_new))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions_new)))

MAE: 1.0463199245875208
MSE: 3.3347998676809643
RMSE: 1.8261434411570643

# scaling features first

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_transformed = sc.fit_transform(X_train)

In [34]:
rf2 = RandomForestRegressor()
rf2.fit(X_train_transformed, y_train)
y_pred_rf2 = rf2.predict(X_test)
mean_squared_error(y_pred_rf2, y_test)

381.528880409836

In [35]:
random_grid2 = {'n_estimators': [int(x) for x in range(20, 1000, 10)],
               'max_features': ['auto', 'sqrt'],
               'max_depth': [int(x) for x in range(2,80,2)],
               'min_samples_split': [2, 5, 10, 15, 30, 50, 75, 100],
               'min_samples_leaf': [1, 2, 5, 8, 10]}

In [36]:
rf_random2 = RandomizedSearchCV(estimator=rf2,
                               param_distributions=random_grid2,
                               scoring='neg_mean_squared_error',
                               n_iter=5, cv=10,
                               verbose=2, random_state=888, n_jobs=-1)
rf_random2.fit(X_train_transformed, y_train)

Fitting 10 folds for each of 5 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:   24.6s finished

RandomizedSearchCV(cv=10, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fal...
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 8, 10],
                                        'min_samples_split': [2, 5, 10, 15, 30,
                                                              50, 75, 100],
                                        'n_estimators': [20, 30, 40, 50, 60, 70,
                                                         80, 90, 100, 110, 120,
                                                         130, 140, 150, 160,
                                                         170, 180, 190, 200,
                                                         210, 220, 230, 240,
                                                         250, 260, 270, 280,
                                                         290, 300, 310, ...]},
                   pre_dispatch='2*n_jobs', random_state=888, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=2)

In [37]:
rf_random2.best_params_

{'n_estimators': 70,
 'min_samples_split': 30,
 'min_samples_leaf': 5,
 'max_features': 'auto',
 'max_depth': 22}

In [38]:
rf_new = RandomForestRegressor(n_estimators= 70,
 min_samples_split =  30,
 min_samples_leaf =  5,
 max_features = 'auto',
 max_depth= 22)

In [39]:
rf_new.fit(X_train_transformed, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=22, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=5,
                      min_samples_split=30, min_weight_fraction_leaf=0.0,
                      n_estimators=70, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [40]:
pred_new = rf_new.predict(X_test)

In [41]:
print('MAE:', metrics.mean_absolute_error(y_test, pred_new))
print('MSE:', metrics.mean_squared_error(y_test, pred_new))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, pred_new)))

MAE: 11.580956282790513
MSE: 157.25791767492316
RMSE: 12.540251898383985

# results degraded after scaling the features ---- so this is a use-case where feature scaling must be avoided

In [42]:
import pickle
file = open('random_forest_regression_model.pkl', 'wb')
# dump information to that file
pickle.dump(rf_random, file)